.dashboard-wrapper {
  min-width: 1440px;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 108px;
  background-color: #f0f0f5;
}

.sidebar-nav {
  height: 82px;
  width: 108px;
  margin-top: 20px;
  gap: 12px;
  cursor: pointer;
}

.sidebar-nav.active {
  border-right: 2px solid #da0175;
}

.sidebar-nav-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--title-color);
}

.sidebar-nav-title.active {
  color: #da0175;
}

.content-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #f8f8f9;
}

.content-header {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #acd9c5;
}

.header-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  color: var(--title-color);
}

.header-subtitle {
  display: inline-flex;
  align-self: end;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #0e8750;
  margin: 0 0 8px 36px;
}

.header-profile {
  gap: 12px;
  margin-right: 64px;
}

.header-profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-grey-6);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #0e8750;
}

.header-profile-name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #0e8750;
}

.content-main {
  max-width: calc(100vw - 108px);
  width: 100%;
  padding: 0 36px;
}

.content-main-header {
    height: 40px;
    width: 100%;
    padding: 10px 20px 0 0;
    gap: 20px;
    margin-top: 20px;
}

.content-main-header button {
    width: 268px;
    height: 32px;
    border-radius: 10px;
    background-color: var(--color-pink);
    color: var(--color-grey-8);
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

.content-main-header-icon {
    max-width: 20px;
    max-height: 20px;
}

.content-main-header-input {
    width: 320px;
    height: 40px;
    border-radius: 10px;
    padding: 8px;
    background-color: #FFF;
    color: var(--color-grey-3);
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border: none;
    box-shadow: 3px 3px 5px rgba(218, 1, 117, 0.05);
}

.content-main-header-input:focus {
    outline: none;
}

.content-main-header-filter {
    cursor: pointer;
}

.content-main-header-search {
    margin-left: -50px;
    cursor: pointer;
}

.content-main-body {
    height: calc(100vh - 180px);
    margin-top: 20px;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    padding: 12px 24px;
}

.content-main-body-header {
    height: 70px;
    min-height: 70px;
    width: 100%;
    border-bottom: 1px solid #EFF0F6;
}

.content-main-body-header h4 {
    width: 190px;
    min-width: 190px;
    text-align: start;
}

.content-main-body-header img {
    cursor: pointer;
}

.content-main-body-item {
    height: 64px;
    min-height: 64px;
    width: 100%;
    border-bottom: 1px solid #EFF0F6;
}

.content-main-body-item span {
    width: 190px;
    min-width: 190px;
    text-align: start;
}

.client-status-defaulter {
    color: var(--color-red-dark) !important;
    background-color: var(--color-red-light);
    border-radius: 8px;
    width: 120px !important;
    min-width: 120px !important;
    text-align: center !important;
}

.client-status-nondefaulter {
    color: var(--color-aqua-dark) !important;
    background-color: var(--color-aqua-light);
    border-radius: 8px;
    width: 120px !important;
    min-width: 120px !important;
    text-align: center !important;
}

.client-add-invoice {
    width: 120px !important;
    min-width: 120px !important;
    display: flex !important;
    justify-content: center !important;
}

.client-add-invoice img {
    cursor: pointer;
}