.dashboard-wrapper {
  min-width: 1440px;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 108px;
  background-color: #f0f0f5;
}

.sidebar-nav {
  height: 82px;
  width: 108px;
  margin-top: 20px;
  gap: 12px;
  cursor: pointer;
  border-right: solid 2px #f0f0f5;
}

.sidebar-nav img {
  max-height: 48px;
  max-width: 48px;
}

.sidebar-nav.active {
  border-right: 2px solid #da0175;
}

.sidebar-nav.active img {
  max-height: 48px;
  max-width: 48px;
}

.sidebar-nav-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--title-color);
}

.sidebar-nav-title.active {
  color: #da0175;
}

.content-wrapper {
  width: 100%;
  max-width: calc(100vw - 108px);
  padding: 0 32px;
  background-color: #f8f8f9;
}

.content-main {
  max-width: calc(100vw - 108px);
  width: 100%;
}

.card-summary-wrapper {
  max-width: 100vw;
  width: 100%;
  margin-top: 20px;
}

.card-summary h2 {
  font-size: 24px;
  line-height: 130%;
}

.card-summary h3 {
  font-size: 18px;
  line-height: 130%;
}

.card-summary {
  width: 32%;
  height: 112px;
  border-radius: 30px;
  color: var(--span-color);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  padding: 0 40px;
}

.card-summary-header {
  width: 200px;
  margin-left: calc(50% - 110px);
}

.card-summary.paid {
  background-color: var(--color-aqua-light)
}

.card-summary.overdue {
  background-color: var(--color-red-light)
}

.card-summary.preview {
  background-color: var(--color-yellow-light)
}

.card-details-wrapper {
  max-width: 100vw;
  width: 100%;
  padding: 24px 0;
}

.card-details {
  width: 32%;
  height: 340px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(172, 217, 197, 0.25);
}

.card-details-header {
  width: 100%;
  height: 52px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding: 0 24px;
  border-bottom: solid 2px #eff0f7;
}

.card-details-title {
  font-size: 18px;
  margin-left: 24px;
}

.card-details-value {
  width: 52px;
  height: 22px;
  border-radius: 8px;
}
.card-details-value.paid {
  background-color: var(--color-aqua-light);
  color: var(--color-aqua-dark);
}

.card-details-value.overdue {
  background-color: var(--color-red-light);
  color: var(--color-red-dark);
}

.card-details-value.preview {
  background-color:  var(--color-yellow-light);
  color:  var(--color-yellow-dark);
}

.card-details-body {
  width: 100%;
  height: 290px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.005em;
}

.card-details-body-title {
  font-size: 16px;
  line-height: 50px;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #eff0f7;
  padding: 0 24px;
}

.card-details-body-content {
  width: 100%;
}

.card-details-body-content-item {
  width: 100%;
  height: 48px;
  padding: 0 24px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.005em;
  color: #6e6e85;
  border-bottom: 1px solid #eff0f7;
}

.card-details-footer {
  width: 100%;
  height: 36px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #da0175;
}

.card-clients-wrapper {
  max-width: 100vw;
  width: 100%;
}

.card-clients {
  width: 49%;
  height: 340px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(172, 217, 197, 0.25);
}

.card-clients-header {
  width: 100%;
  height: 52px;
  gap: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding: 0 24px;
  border-bottom: solid 1px #eff0f7;
}

.card-clients-title {
  font-size: 18px;
}

.card-clients-value {
  margin-left: auto;
  width: 52px;
  height: 22px;
  border-radius: 8px;
}

.card-clients-value.paid {
  background-color: #eef7f7;
  color: #1fa7af;
}

.card-clients-value.overdue {
  background-color: #ffefef;
  color: #ff5252;
}

.card-clients-body {
  width: 100%;
  height: 290px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.005em;
}

.card-clients-body-title {
  font-size: 16px;
  line-height: 50px;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #eff0f7;
  padding: 0 24px;
}

.card-clients-body-content {
  width: 100%;
}

.card-clients-body-content-item {
  width: 100%;
  height: 48px;
  padding: 0 24px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.005em;
  color: #6e6e85;
  border-bottom: 1px solid #eff0f7;
}

.card-clients-footer {
  width: 100%;
  height: 36px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #da0175;
}