.dashboard-wrapper {
  min-width: 1440px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 108px;
  background-color: #f0f0f5;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 82px;
}

.sidebar-nav .active {
  border-right: 2px solid #da0175;
}

.sidebar-nav-title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #343447;
}

.sidebar-nav-title .active {
  color: #da0175;
}

.content-wrapper {
  width: calc(100vw - 108px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content-header {
  padding: 32px;
  height: 112px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #acd9c5;
  margin-top: 8px;
}
